
.body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
    background-color: rgb(247, 247, 252);
    
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

}
.top{
    background-image: url('../photos/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0px;
    margin: 0%;
}

.logo{
    color: rgb(10, 28, 194);
    font-weight: bolder;
    
}
.signup{
    
    color: white;
    background-color: rgb(10, 28, 194);
    border: none;
    border-radius: 3px ;
    padding: 5px 10px;
}
.main{
    text-align: center;
    margin: 100px 20px;
}
.stayfocused{
    color: white;
    background-color: rgb(10, 28, 194);
    border: none;
    border-radius: 3px ;
    padding: 5px 10px;
}

.action{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
    
}
.para{
    color: darkslategray;
}
.launch{
    color: white;
    background-color: rgb(10, 28, 194);
    border: none;
    border-radius: 3px ;
    padding: 5px 10px;
}
img{
    border-radius: 20px;
    width: 300px; height: 200px;
}
.users{
    background-color: rgb(231, 231, 232);
    border-radius: 10px;
    margin: 30px;
    padding: 50px 10px;

}
.h3{
    text-align: center;
}
.act{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.h{
    color: rgb(10, 28, 194);
    margin-bottom: 0px;
}
.s{
    color: darkslategray;
    margin-top: 0px;
}
.review{
    text-align: center;
    padding: 50px 10px;
    margin: 30px;
}
.star{
    height: 15px;
    width: 15px;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 10px;
    
}
.card{
    text-align: left;
    background-color: rgb(215, 215, 216);
    border-radius: 5px;
    padding: 10px;
}
.ph{
    display: flex;
    gap: 3px;
}
.image{
    border-radius: 100%;
    height: 30px;
    width: 30px;
}
.get-in-touch{
    margin: 30px;
}
.get{
    display: flex;
    justify-content: space-evenly;
    
}
.contact{
    text-align: left;
    font-weight: 10000;
    font-size: xx-large;

}
.inputs{
    padding: 5px 10px;
}
.touch{
    color: white;
    background-color: rgb(10, 28, 194);
    border: none;
    border-radius: 3px ;
    padding: 5px 50px;
}
.footer{
    text-align: center;
    background-color: white;
    padding: 20px 60px;
}
.footer-logo{
    color: rgb(10, 28, 194);
    font-size: 2rem;
    font-size: xx-large;
    font-weight: bolder;
}
.footer-text{
    color: darkslategray;
}
.nav a{
    color: darkslategray;
    text-decoration: none;
}
.nav ul{
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    

}
  
