
header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

}

.logo{
    color: rgb(10, 28, 194);
}
.signup{
    
    color: white;
    background-color: rgb(10, 28, 194);
    border: none;
    border-radius: 3px ;
    padding: 5px 10px;
}
.main{
    text-align: center;
    margin: 100px 20px;
}

.stayfocused{
    color: white;
    background-color: rgb(10, 28, 194);
    border: none;
    border-radius: 3px ;
    padding: 5px 10px;
}

.action{
    display: flex;
    justify-content: space-between;
    margin: 100px 20px ;
    align-items: center;
}
.para{
    color: darkslategray;
}
.launch{
    color: white;
    background-color: rgb(10, 28, 194);
    border: none;
    border-radius: 3px ;
    padding: 5px 10px;
}
img{
    border-radius: 20px;
    width: 300px; height: 200px;
}